.offcanvas{
    --bs-offcanvas-width: 40%;
}
.offcanvas-body a{
    text-decoration: none;
    color: black;
}
.offcanvas-body a:hover,.offcanvas-body a div:hover{
    background-color: lightblue;
    text-decoration: none;
    color: white;
}
.dropdown-menu{
    border-radius: 0 0 5px 5px !important;
    z-index: 1;
    position: static !important;
    inset: -5px auto auto 0px !important;
}
.dropdown-menu.show{
    display: block;
    inset: -5px auto auto 0px !important;
    z-index: 1;
    border-radius: 0 0 5px 5px !important;
    padding-top: 5px !important;
    position: static !important;
    transform: translate(0px, 0px) !important;
}
.container .row .col .dropdown button.btn{
    display: block;
    z-index: 1;
}
.container .row .col .dropdown button.btn.show{
    border-radius: 5px 5px 0 0 !important;
    z-index: 1;
    display: block;
}

/* *{
    border: 1px solid red !important;
} */